.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(255, 0, 170);
    border-radius: 5px;
    min-width: 200px;
    min-height: 245px;
}

.linksContainer {
    position: absolute;
    display: flex;
    margin-top: -15px;
    margin-right: -160px;
    gap: 10px;
}

.linkItem {
    background-color: black;
}

.webItem {
    font-size: 22px;
}

.gitItem {
    font-size: 25px;
}

.container h3 {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
}

.imagesContainer {
    display: flex;
    justify-content: center;
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
    width: 200px;
    height: 125px;
    padding: 0;
}

.techsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 5px;
    gap: 10px;
}

.tech {
    font-size: 22px;
}