.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    color: rgb(252, 103, 195);
}

.container ul {
    display: flex;
    gap: 15px;
}

.container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

.techName {
    font-size: 10px;
}

@media (max-width: 650px) {
    .container ul {
        display: grid;
        align-content: center;
        grid-template-columns: repeat(6, 1fr);
        padding: 0 20px;
    }
}

@media (max-width: 510px) {
    .container ul {
        grid-template-columns: repeat(4, 1fr);
    }
}