.container {
    display: flex;
    flex-direction: column;
}

.sectionContainer {
    display: flex;
    justify-content: center;
}

.sectionContainer section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.sectionContainer section p b {
    color: rgb(252, 103, 195);
}

.sectionContainer p {
    text-align: left;
    width: 300px;
}

.sectionContainer aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer aside h1 {
    color: rgb(252, 103, 195);
}

.sectionContainer aside p {
    text-align: center;
}

.profileImage {
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
  }

.socialWebs {
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 170);
    margin-top: 15px;
    gap: 20px;
    font-size: 30px;
}

.stacks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

@media (max-width: 650px) {
    .sectionContainer {
        flex-direction: column;
        align-items: center;
    }
    .sectionContainer section {
        order: 2;
        margin-left: 50px;
      }
    
      .sectionContainer aside {
        order: 1;
      }
      .stacks {
        flex-direction: column;
        gap: 20px;
    }
}