.container {
    display: flex;
    flex-direction: column;
}

.sectionContainer {
    display: flex;
    justify-content: center;
}

.sectionContainer section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.sectionContainer section p b {
    color: rgb(252, 103, 195);
}

.sectionContainer p {
    text-align: left;
    width: 300px;
}

.sectionContainer aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer aside p {
    text-align: center;
}

.profileImage {
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
  }

.socialWebs {
    color: rgb(255, 0, 170);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
    font-size: 30px;
}

.technologies {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}