.container {
    display: flex;
    flex-direction: column;
}

.sectionContainer {
    display: flex;
    justify-content: space-between;
}

.sectionContainer section {
    display: flex;
    flex-direction: column;
}

.sectionContainer section p b {
    color: rgb(252, 103, 195);
}

.sectionContainer p {
    text-align: left;
    width: 300px;
}

.profileImage {
    border-radius: 50%; /* Esto hará la imagen redonda */
    overflow: hidden; /* Esto asegura que la imagen se recorte de manera adecuada */
  }

.socialWebs {
    color: rgb(255, 0, 170);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
    font-size: 30px;
}

.technologies {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}