.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.mainContent {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

.platformContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 20px;
  gap: 10px;
  padding: 2px 5px 2px 5px;
  margin-top: 5px;
}

.platformIcon {
  display: flex;
}

.platformTitle {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 50%;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 50%;
  margin-right: 25px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectImage {
  border: 3px solid pink;
}

.techGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto);
  margin-top: 15px;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 5px;
  grid-auto-rows: minmax(auto);
  margin-left: 14px;
  margin-top: 15px;
}

.featureGrid li::marker {
  color: rgb(234, 134, 204);
}

.techsContainer {
  display: flex;
  flex-direction: column;
}

.techsList {
  display: flex;
  align-items: center;
  gap: 10px;
}

.techIcons {
  color: rgb(234, 134, 204);
}

.linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.projectLinks {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.link {
  display: flex;
  border: 1px solid pink;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

.link span {
  margin-left: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.container h1 {
  color: rgb(234, 134, 204);
}

.container h2 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.description p {
  margin-top: 5px;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
  }
  .mainContent {
    flex-direction: column;
  }
  .section {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 100%;
  }
  .aside {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 100%;
      margin-right: 0;
  }
  .techsContainer {
    display: flex;
    justify-content: center;
  }
  .techGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .projectLinks {
    margin: auto;
    margin-top: 15px;
  }
  .featuresContainer {
    margin-top: 20px;
  }
}
