.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para que ocupe toda la altura de la pantalla */
  }
  
  .content {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-grow: 1; /* El contenido crece y ocupa el espacio disponible */
  }
  